<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver">
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/checkVersion"/>
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/checkInfo"/>
            <mvc:exclude-mapping path="/register"/>
            <mvc:exclude-mapping path="/sendEmailCode"/>
            <mvc:exclude-mapping path="/*.html"/>
            <mvc:exclude-mapping path="/*.css"/>
            <mvc:exclude-mapping path="/scripts/*.js"/>
            <mvc:exclude-mapping path="/web/**"/>
            <mvc:exclude-mapping path="/uploadApk"/>
            <mvc:exclude-mapping path="/checkApkInfo"/>
            <mvc:exclude-mapping path="/aaa"/>
            <bean class="com.jayce.vexis.core.StatusInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <context:component-scan base-package="com.jayce.vexis.business.controllers"/>

    <mvc:default-servlet-handler/>

    <bean id="druid-stat-interceptor" class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor" />
    <aop:config proxy-target-class="true">
        <aop:advisor advice-ref="druid-stat-interceptor" pointcut="execution(* com.jayce.vexis.business..*.*(..))" />
    </aop:config>
</beans>