<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="com.jayce.vexis.util.dto.UserDTO" alias="userDTO"/>
        <typeAlias type="com.jayce.vexis.util.dto.AuthDTO" alias="authDTO"/>
        <typeAlias type="com.jayce.vexis.util.dto.ProfileDTO" alias="profileDTO"/>
        <typeAlias type="com.jayce.vexis.util.dto.PrivilegeDTO" alias="privilegeDTO"/>
        <typeAlias type="com.jayce.vexis.util.dto.FileDTO" alias="fileDTO"/>
        <typeAlias type="com.jayce.vexis.util.dto.FeedbackDTO" alias="feedbackDTO"/>
        <typeAlias type="com.jayce.vexis.util.dto.ActiveDTO" alias="activeDTO"/>
        <typeAlias type="com.jayce.vexis.util.dto.ArticleDTO" alias="articleDTO"/>
        <typeAlias type="com.jayce.vexis.util.dto.SectionDTO" alias="sectionDTO"/>
        <typeAlias type="com.jayce.vexis.util.dto.RemarkDTO" alias="remarkDTO"/>
        <typeAlias type="com.jayce.vexis.util.dto.PeerDTO" alias="peerAdviceDTO"/>
        <typeAlias type="com.jayce.vexis.util.dto.HistoryDTO" alias="historyDTO"/>
    </typeAliases>

    <mappers>
        <mapper resource="Mybatis/Mappers/UserMapper.xml"/>
        <mapper resource="Mybatis/Mappers/ResourceMapper.xml"/>
        <mapper resource="Mybatis/Mappers/FeedbackMapper.xml"/>
        <mapper resource="Mybatis/Mappers/ArticleMapper.xml"/>
        <mapper resource="Mybatis/Mappers/SeniorMapper.xml"/>
        <mapper resource="Mybatis/Mappers/HistoryMapper.xml"/>
    </mappers>
</configuration>