<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayce.vexis.business.dao.SeniorDao">
    <insert id="addAdvice" parameterType="peerAdviceDTO">
        insert into senior values (#{primary}, #{second}, #{tertiary}, #{content})
    </insert>

    <select id="getAdvice" parameterType="peerAdviceDTO" resultType="peerAdviceDTO">
        select * from senior where `primary` = #{primary} and second = #{second} and tertiary = #{tertiary}
    </select>
</mapper>