<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jayce.vexis.business.dao.UserDao">
    <resultMap id="userMap" type="userDTO">
        <result column="userid" property="userId"/>
        <result column="createTime" property="createTime"/>
        <association property="auth" javaType="authDTO">
            <result column="password" property="password"/>
            <result column="session" property="session"/>
        </association>
        <association property="profile" javaType="profileDTO">
            <result column="nickname" property="nickname"/>
            <result column="age" property="age"/>
            <result column="sex" property="sex"/>
            <result column="email" property="email"/>
            <result column="selfIntroduction" property="selfIntroduction"/>
            <result column="phone" property="phone"/>
            <result column="address" property="address"/>
            <result column="birthday" property="birthday"/>
            <result column="headType" property="headType"/>
            <result column="isEdit" property="isEdit"/>
        </association>
        <association property="privilege" javaType="privilegeDTO">
            <result column="count" property="count"/>
            <result column="level" property="level"/>
            <result column="adminLevel" property="adminLevel"/>
        </association>
    </resultMap>

    <select id="findByID" parameterType="String" resultMap="userMap">
        select * from user where userid = #{userID}
    </select>

    <insert id="registerUser" parameterType="userDTO">
        insert into user values (#{userId},#{profile.nickname},#{auth.password},#{profile.age},#{profile.sex},
                                       #{createTime},#{privilege.count},#{privilege.level},#{privilege.adminLevel},#{profile.isEdit},
                                       <choose>
                                           <when test="profile.email != null and profile.email != ''">#{profile.email}</when>
                                            <otherwise>null</otherwise>
                                       </choose>,
                                        <choose>
                                            <when test="profile.address != null and profile.address != ''">#{profile.address}</when>
                                            <otherwise>null</otherwise>
                                        </choose>,
                                        <choose>
                                            <when test="profile.selfIntroduction != null and profile.selfIntroduction != ''">#{profile.selfIntroduction}</when>
                                            <otherwise>null</otherwise>
                                        </choose>,
                                       #{profile.birthday},#{profile.phone},#{profile.headType})
    </insert>

    <insert id="registerActiveData" parameterType="String">
        insert into active_index(userid) values (#{userID})
    </insert>

    <select id="getAllUser" resultType="activeDTO">
        select u.nickname, u.userid, u.createTime,
               u.level, u.adminLevel, a.support,
               a.against, a.inform, a.reported,
               a.follow, a.fans, a.post
        from user u, active_index a
        where u.userid = a.userid
    </select>
    
    <delete id="deleteUser" parameterType="String">
        delete from user where userid = #{userId}
    </delete>
    
    <update id="setAdmin" parameterType="String">
        update user set adminLevel = 1 where userid = #{userId}
    </update>
    
    <insert id="followUser">
        insert into relation values (#{userId}, #{fansId}, #{relation})
    </insert>

    <insert id="updateRelation" parameterType="String">
        update active_index set fans = fans + 1 where userid = #{userId}
    </insert>

    <select id="queryRelation" resultType="int">
        select count(*) from relation where userid = #{userId} and fansid = #{fansId}
    </select>

    <select id="findUserByEmail" parameterType="String" resultMap="userMap">
        select * from user where email = #{profile.email}
    </select>
</mapper>